CONTAINER=[BOOLEAN]
ENCRYPTION_KEY=[32-byte-base64-encoded-key]
JWT_SIGNING_KEY=[64-byte-base64-encoded-key]
DATABASE_URL=[URL]

# IF RUNNING LOCALLY ADD:
POSTGRES_USER=[string]
POSTGRES_PASSWORD=[string]
POSTGRES_DB=[string]